
body {
    background-color:rgba(32, 32, 32, 0.973);
}

article { display: flex;
    
}

.fig1 {
    background-image: url(./coding\ cover.jpg);
    display:flex;
}

.column {
    display:flex;
    float:right;
    
}

#aboutme {
    border: 2px solid white;
}

.row {
    display:flex;
    float: left;
    height:200px;
    width: 600px;
    padding:10px;
    margin: 10px;
    border: 2px solid red;
    justify-content: space-around;
    box-shadow: 5px 5px 5px rgba(247, 5, 5, 0.788);
    
}

.row:hover {
    background-color:rgb(255, 255, 255);
    transform: scale(1.08);
}

h1 {
    font-size: 45px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: white;
}

h2 {
    display:block;
    font-size:50px;
    color:white;
}

h3 {
    display:block;
    font-size: 35px;
    color:white;
}



nav {
    font-family:'Courier New', Courier, monospace;
    Font-size: 25px;
    background-color: rgba(255, 255, 255, 0.788);
    display: flex;
    padding: 10px 10px 10px 10px;
    margin: 12px;
    justify-content: flex-end;
}

.p1 {
    display:flex;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items:center;
    color: white;
}

#contactme {
    color:white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    display:flex;
    padding: 0px 20px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    text-decoration:none;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    box-shadow: 4px;
    font-weight:bolder;
}


a:hover {
    transform: scale(1.15);
    color: white;
    box-shadow: 1px 1px 5px red;
}
/* use anchor and anchor visited tags to manipulate colors of nav and footer items*/
a:visited {
    text-decoration:black;
}

li {
    display:inline;
    padding: 0px 20px;
    text-decoration: underline;

}

li:hover {
    background-color:rgba(253, 250, 76, 0.774);
    transform: scale(1.5);
    
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.program {
    display:flex;
    justify-content: space-between;
    height:200px;
    width:200px;
    margin: 15px;
}

#work {
    display:flex;
    border: 2px solid white;
    text-align:center;
    flex-wrap:wrap;
}

#moon {
    background-image: url(./top-moon-sranked-bf6310d.jpg);
    width:1920px;
    height: 600px;
    box-shadow: 5px 5px 5px black;
}

#led {
    background-image: url(./led-video-wall-close-up.jpg);
    width:960px;
    height: 300px;
    box-shadow: 5px 5px 5px black;
}

#Calcu {
    background-image: url(./bd88cd5fa5ad3be31a0436c3163e9d4a.jpg);
    width:960px;
    height:360px;
    box-shadow: 5px 5px 5px black;
}

#runman {
    background-image: url(./geometric-running-man-plygonal-d-wireframe-speed-sport-geometric-running-man-polygonal-wireframe-d-model-blueprind-dots-142525571.jpg);
    width:960px;
    height:360px;
    box-shadow: 5px 5px 5px black;
}

#moon:hover, #led:hover, #Calcu:hover, #runman:hover {
    transform:scale(1.03);
}
