


body {
    background-color:rgb(8, 8, 8);
}

article { display: flex;
    
}


figure {
    background-image: url(./coding\ cover.jpg);
    display:flex;
    
}

img {
    
}


.row {
    display:flex;
    height:300px;
    width:300px;
    padding:10px;
    margin: 10px;
    border: 2px solid red;
    justify-content: space-around;
    box-shadow: 5px 5px 5px rgba(247, 5, 5, 0.788);
}

.row:hover {
    background-color:rgb(255, 255, 255);
}

h1 {
    font-size: 45px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: white;
}



nav {
    font-family:'Courier New', Courier, monospace;
    Font-size: 25px;
    background-color: rgba(255, 255, 255, 0.788);
    display: flex;
    padding: 10px 10px 10px 10px;
    margin: 12px;
    justify-content: flex-end;
}

.p1 {
    display:flex;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items:center;
    color: white;
}

#contactme {
    color:white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    display:flex;
    padding: 0px 20px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    text-decoration:none;
    color: black;
    background-color:red;
    box-shadow: 4px;
    font-weight:bolder;
}


a:hover {
    transform: scale(1.15);
    color: white;
}
/* use anchor and anchor visited tags to manipulate colors of nav and footer items*/
a:visited {
    text-decoration:black;
}

li {
    display:inline;
    padding: 0px 20px;
    text-decoration: underline;

}

li:hover {
    background-color:rgba(253, 250, 76, 0.774);
    transform: scale(1.5);
    
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    display:flex;
    align-items:center;
    justify-content: center;
}

